<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find skd1_description)/urdf/inertial_macros.xacro" />
    <xacro:include filename="$(find skd1_description)/urdf/wheel.urdf.xacro" />
    
	<!-- Distance between front and rear wheel axles (wheelbase) -->
	<xacro:property name="wheel_distance" value="0.21524" />

	<!-- Distance between the centerlines of the left and right wheels (track width) -->
	<xacro:property name="wheel_separation" value="0.37068" />

	<!-- Z-coordinate of the wheel axle relative to base_link -->
	<xacro:property name="wheel_height" value="0.0328" />

	<!-- Wheel properties -->
	<xacro:property name="wheel_mass" value="0.150" />
	<xacro:property name="wheel_radius" value="0.06" />
	<xacro:property name="wheel_width" value="0.06" />

	<!-- Chassis size -->
	<xacro:property name="chassis_x_size" value="0.410" />
	<xacro:property name="chassis_y_size" value="0.260" />
	<xacro:property name="chassis_z_size" value="0.094" />

	<!-- The 'base_link' is located at the geometric center of the chassis  
     (center of the acrylic plate) and positioned above it (5 mm thickness) -->
	<link name="base_link">

		<visual>
    		<origin xyz="0 0 0" rpy="${(pi/2)} 0 ${pi}"/>
			<geometry>
				<mesh filename="file://$(find skd1_description)/meshes/skd1_chassis.stl" scale="0.001 0.001 0.001" />
				<!-- <box size="${chassis_x_size} ${chassis_y_size} ${chassis_z_size}"/> -->
			</geometry>
			<material name="White">
				<color rgba="1.0 1.0 1.0 1.0"/>
			</material>
		</visual>
		
		<xacro:property name="chassis_z_offset" value="0.005" />
		<!-- Chassis -->
		<collision>
			<origin xyz="0 0 ${chassis_z_size/2-chassis_z_offset}"/>
			<geometry>
				<box size="${chassis_x_size} ${chassis_y_size} ${chassis_z_size}"/>
			</geometry>
		</collision>
		<!-- Antenna deck -->
		<xacro:property name="deck_x_size" value="0.150" />
		<xacro:property name="deck_y_size" value="0.260" />
		<xacro:property name="deck_z_size" value="0.187" />
		<collision>
			<origin xyz="0 0 ${deck_z_size/2+0.089}"/>
			<geometry>
				<box size="${deck_x_size} ${deck_y_size} ${deck_z_size}"/>
			</geometry>
		</collision>
		<!-- Motor covers -->
		<xacro:property name="mcover_x_size" value="0.0976" />
		<xacro:property name="mcover_y_size" value="0.083" />
		<xacro:property name="mcover_z_size" value="0.0476" />
		<collision> <!-- Front Left-->
			<origin xyz="${wheel_distance/2} ${chassis_y_size/2-mcover_y_size/2} ${-mcover_z_size/2-chassis_z_offset}"/>
			<geometry>
				<box size="${mcover_x_size} ${mcover_y_size} ${mcover_z_size}"/>
			</geometry>
		</collision>
		<collision> <!-- Front Right-->
			<origin xyz="${wheel_distance/2} -${chassis_y_size/2-mcover_y_size/2} ${-mcover_z_size/2-chassis_z_offset}"/>
			<geometry>
				<box size="${mcover_x_size} ${mcover_y_size} ${mcover_z_size}"/>
			</geometry>
		</collision>
		<collision> <!-- Rear Left-->
			<origin xyz="-${wheel_distance/2} ${chassis_y_size/2-mcover_y_size/2} ${-mcover_z_size/2-chassis_z_offset}"/>
			<geometry>
				<box size="${mcover_x_size} ${mcover_y_size} ${mcover_z_size}"/>
			</geometry>
		</collision>
		<collision> <!-- Rear Right-->
			<origin xyz="-${wheel_distance/2} -${chassis_y_size/2-mcover_y_size/2} ${-mcover_z_size/2-chassis_z_offset}"/>
			<geometry>
				<box size="${mcover_x_size} ${mcover_y_size} ${mcover_z_size}"/>
			</geometry>
		</collision>

    </link>

	<!-- Base footprint is on the ground under the robot -->
    <link name="base_footprint">
		<xacro:dummy_inertial />
	</link>

    <joint name="base_footprint_joint" type="fixed">
        <origin xyz="0 0 -${wheel_height+wheel_radius}" rpy="0 0 0" />
        <parent link="base_link" />
        <child link="base_footprint" />
    </joint>

	<!-- Interial link stores the robot's inertial information -->
    <link name="inertial_link">
		<xacro:inertial_box mass="5.0" x="${chassis_x_size}" y="${chassis_y_size}" z="${chassis_z_size}">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_box>
    </link>

    <joint name="inertial_joint" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <parent link="base_link" />
        <child link="inertial_link" />
    </joint>

	<!-- Wheel macros -->
	<xacro:skd1_wheel wheel_prefix="front_left">
		<origin xyz="${wheel_distance/2} ${wheel_separation/2} -${wheel_height}" rpy="0 0 0" />
	</xacro:skd1_wheel>

	<xacro:skd1_wheel wheel_prefix="front_right">
		<origin xyz="${wheel_distance/2} ${-wheel_separation/2} -${wheel_height}" rpy="0 0 0" />
	</xacro:skd1_wheel>

	<xacro:skd1_wheel wheel_prefix="rear_left">
		<origin xyz="${-wheel_distance/2} ${wheel_separation/2} -${wheel_height}" rpy="0 0 0" />
	</xacro:skd1_wheel>

	<xacro:skd1_wheel wheel_prefix="rear_right">
		<origin xyz="${-wheel_distance/2} ${-wheel_separation/2} -${wheel_height}" rpy="0 0 0" />
	</xacro:skd1_wheel>

    <!-- Sensors -->

	<!-- Phidgets Spatial IMU -->
	<link name="phidgets_imu_link">
		<visual>
			<geometry>
				<box size="0.037846 0.038989 0.01338"/>
			</geometry>
			<material name="Magenta">
				<color rgba="1.0 0.0 1.0 1.0"/>
			</material>
		</visual>
		<xacro:dummy_inertial />
	</link>

	<joint name="phidgets_imu_joint" type="fixed">
		<parent link="base_link" />
		<child link="phidgets_imu_link" />
		<origin xyz="0 0 ${0.085-0.006-0.00581}" rpy="0 0 0" />
	</joint>

	<!-- RPLidar C1 -->
	<link name="rplidar_link">
		<visual>
			<origin xyz="0 0 -0.0298" rpy="0 0 0"/>
			<geometry>
				<mesh filename="file://$(find skd1_description)/meshes/RPLidar_C1M1.stl"  scale="0.001 0.001 0.001"/>
			</geometry>
			<material name="Cyan">
				<color rgba="0.0 1.0 1.0 1.0"/>
			</material>
		</visual>
		<collision>
			<origin xyz="0 0 ${-0.0298+0.042/2}" rpy="0 0 0"/>
			<geometry>
				<box size="0.056 0.056 0.042"/>
			</geometry>
		</collision>
		<xacro:dummy_inertial />
	</link>

	<joint name="rplidar_joint" type="fixed">
		<parent link="base_link"/>
		<child link="rplidar_link"/>
		<origin xyz="0.075 0 ${chassis_z_size-0.005+0.005+0.0298}" rpy="0 0 ${pi}"/>
	</joint>

	<link name="ardusimple_gps_link">
		<visual>
			<origin xyz="0 0 0" rpy="0 0 ${pi/2}"/>
			<geometry>
				<mesh filename="file://$(find skd1_description)/meshes/uBlox_ANT2B-ANN.stl"  scale="0.001 0.001 0.001"/>
			</geometry>
			<material name="Yellow">
				<color rgba="1.0 1.0 0.0 1.0"/>
			</material>
		</visual>
		<xacro:dummy_inertial />
	</link>

	<joint name="ardusimple_gps_joint" type="fixed">
		<parent link="base_link" />
		<child link="ardusimple_gps_link" />
		<origin xyz="0 0.055 0.282" rpy="0 0 0" />
	</joint>

	<link name="m8n_gps_link">
		<xacro:dummy_inertial />
	</link>

	<joint name="m8n_gps_joint" type="fixed">
		<parent link="base_link" />
		<child link="m8n_gps_link" />
		<origin xyz="0 -0.055 0.282" rpy="0 0 0" />
	</joint>

	
</robot>
